.btn-small {
    height: 24px;
    line-height: 24px;
    margin: 5px 5px;
    padding: 0 0.5em;
}

.task-header {
    margin-top: 5px;
}

.photo-except {
    background-image: url(/static/images/mish.jpg);
}

.modify-btn {
    margin-left: 10 rem;
}

.wrap-it-up {
    height: 280px;
}

.card.small .card-image, .card.medium .card-image, .card.large .card-image {max-height: 80%;}



nav .brand-logo {
    padding-left: 10px;
}

.posit {
    padding-top: 10px;
}

.card .card-content {
    padding: 0px;
    padding-left: 10px;
}

#text-up {
    padding: 160px; 
}