/* .display-3 {
    font-size: 2rem;
    font-weight: 300;
    line-height: 0;
} */

.btn-small {
    height: 24px;
    line-height: 24px;
    margin: 5px 5px;
    padding: 0 0.5em;
}

.task-header {
    margin-top: 5px;
}