<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Why The Cookbook project
</title>
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"
    />
    <link
      rel="stylesheet"
      href="{{url_for('static', filename='css/style.css')}}"
      type="text/css"
    />
  </head>

  <body>
    <nav class="deep-orange darken-4">
      <div class="nav-wrapper">
        <a href="{{ url_for('index') }}" class="brand-logo">Cookbook</a>
        <a href="#" data-target="mobile-demo" class="sidenav-trigger"
          ><i class="material-icons">menu</i></a
        >
        <ul id="nav-mobile" class="right hide-on-med-and-down">
          <li>
            <a href="{{ url_for('about_page') }}" class="navbar-item">
              About
            </a>
          </li>
      <li>
            <a href="{{ url_for('login') }}" class="navbar-item">
              Login
            </a>
          </li>
          <li>
            <a href="{{ url_for('signup') }}" class="navbar-item">
              Sign up
            </a>
          </li>
        </ul>
      </div>
    </nav>
    <ul class="sidenav" id="mobile-demo">
      <li>
        <a href="{{ url_for('about_page') }}" class="navbar-item">
          About
        </a>
      </li>
            <li>
            <a href="{{ url_for('login') }}" class="navbar-item">
              Login
            </a>
          </li>
      <li>
            <a href="{{ url_for('signup') }}" class="navbar-item">
              Sign up
            </a>
          </li>
    </ul>
     <h3>Why The Cookbook project</h3>
     <h6>This website aims to promote cooking with focus on easy and quick homemade meals. 
When coding the website and uploading the recipe I tried to have in mind the the fast paced dailty routine 
of cities we live and how have so little time for homemade warm meal. 
Hence, this idea is brough to life. Share recipes and please enjoy.
</h6>
      <div class="hero-body">
        <div class="container has-text-centered">
          {% block content %} {% endblock %}
        </div>
      </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="{{url_for('static', filename='ninja.js')}}"></script>
    <script src="{{url_for('static', filename='forms.js')}}"></script>
  </body>
</html>
