{% extends "base.html" %} {% block content %}
    <ul class="collapsible" data-collapsible="accordion">
	{% for recipe in recipes %}
	<li>
		<div class="col s12 m8 offset-m2 l6 offset-l3">
			<div class="card-panel grey lighten-5 z-depth-1">
				<div class="row valign-wrapper">
					<div class="col s7">
						<img src="{{url_for('static', filename='images/nin.png')}}" alt="" class="circle responsive-img">
						<!-- notice the "circle" class -->
					</div>
					<div class="col s5">
						{% for recipe in recipes %}
						<div class="collapsible-header">
							<div class="col s1">
								<i class="material-icons">expand</i>
								<div>
									<div class="col s9">
										<strong>{{recipe.name}} - {{recipe.time_to_prepare}}</strong>
									</div>
									<div class="col s2">
										<div class="inline_actions">
											<a href="{{url_for('review_meals', meal_id=recipe._id)}}"
												class="waves-effect waves-light btn btn-small red">Rate</a>
											<a href="{{url_for('carta', meal_id=recipe._id)}}"
												class="waves-effect waves-light btn btn-small red">View</a>
											<a href="{{url_for('delete_recipe', meal_id=recipe._id)}}"
												class="waves-effect waves-light btn btn-small">Remove</a>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</li>
        	{% endfor %}
	</ul>
        	{% endfor %}


	{% endblock %}