{% extends "base.html" %}

{% block content %}
<div class="column is-4 is-offset-4">
    <h3 class="title">Login</h3>
    <div class="box">
        <form method="POST" action="/login">
            <div class="field">
                <div class="control">
                    <input required class="materialize-textarea input is-large form-control validate" type="email" name="email" placeholder="Your Email" autofocus="">
                </div>
            </div>

            <div class="field">
                <div class="control">
                    <input required class="materialize-textarea input is-large form-control validate" type="password" name="password" placeholder="Your Password">
                </div>
            </div>

            <button class="button is-block is-info is-large is-fullwidth">Login</button>
        </form><br>
        <div>Don't have an account? <a href="{{ url_for('signup') }}">Sign up here</a>.
        </div>
    </div>
</div>
{% endblock %}