{% extends 'base.html' %} {% block content %}
<ul class="collapsible" data-collapsible="accordion">
	{% for recipe in recipes %}
	<li>
		<div class="collapsible-header">
            <div class="col s1">
                <i class="material-icons">expand</i>
            <div>
			<div class="col s9">
				<strong>{{recipe.name}} - {{recipe.time_to_prepare}}</strong>
			</div>
			<div class="col s2">
            <div class="inline_actions">
				<a href="{{url_for('review_meals', meal_id=recipe._id)}}" class="waves-effect waves-light btn btn-small red">Rate</a>
                <a href="{{url_for('carta', meal_id=recipe._id)}}" class="waves-effect waves-light btn btn-small red">View</a>
				<a href="{{url_for('file_upload', meal_id=recipe._id)}}" class="waves-effect waves-light btn btn-small">Please upload photo</a>
            </div>
			</div>
		</div>
	</li>
	{% endfor %}
</ul>
{% endblock %}