{% extends 'base.html' %} {% block content %}
<h3>Review Meal</h3>
<div class="row">
	<form action="{{ url_for('upload_recipe') }}" method="POST" class="col s12">
		<div class="row">
			<div class="input-field col s12">
				<i class="material-icons prefix">description</i>
                <input id="recipe" name="recipe_name" type="text" required class="materialize-textarea form-control validate">
                {% for receipe in recipes %}
                    {% if recipes.review_text == reviews.review_text %}
                    <option value="{{review_text}}" selected >{{review_text}}</option>
                    {% else %}
                    <option value="{{review_text}}" selected >{{review_text}}</option>
                    {% endif %}
                {% endfor %}
				<label for="icon_prefix">Leave your review here</label>
			</div>
		</div>

		<div class="row">
		</div>
		
		<div class="row">
			<button class="btn waves-effect waves-light" type="submit" name="action">Submit Review
				<i class="material-icons right">done_all</i></button>
		</div>
	</form>
</div>
{% endblock %}