{% extends 'base.html' %} {% block content %}
<div class="row">
<h3>Share own original recipe</h3></div>
<div class="row">
	<form action="{{ url_for('upload_recipe') }}" method="POST" class="col s12" name="myform" enctype="multipart/form-data">
		<div class="row">
			<div class="input-field col s12">
				<i class="material-icons prefix">add</i>
				<input id="name" name="name" type="text" required class="materialize-textarea form-control validate">
				<label for="icon_prefix">Meal Name</label>
			</div>
		</div>

		<div class="row">
			<div class="input-field  col s12"><i class="material-icons prefix">explore</i>
				<textarea id="culinary_region" name="culinary_region" type="text" required class="materialize-textarea form-control validate"></textarea>
				<label>Culinary Region or Country of Origin (e.g. Medetterenian or Italy) </label>
			</div>
		</div>

		<div class="row">
			<div class="input-field col s12">
				<i class="material-icons prefix">map</i>
				<textarea id="time_to_prepare" name="time_to_prepare" type="text" required class="materialize-textarea form-control validate"></textarea>
				<label for="icon_prefix">Time needed to prepare</label>
			</div>
		</div>
		<div class="row">
			<div class="input-field col s12">
				<i class="material-icons prefix">map</i>
				<textarea id="ingredients" name="ingredients" type="text" required class="materialize-textarea form-control validate"></textarea>
				<label for="icon_prefix">Ingredients and Spice</label>
			</div>
		</div>
		<div class="row">
			<div class="input-field col s12">
				<i class="material-icons prefix">edit</i>
				<textarea id="cooking" name="cooking" type="text" required class="materialize-textarea form-control validate"></textarea>
				<label for="icon_prefix">How to prepeare and cook it?</label>
			</div>
                        <div class="input-field col s12"><i class="material-icons prefix">airplay</i><br><br>
            <label>Upload Photo</label>
            <input type="file" name="image" required class="materialize-textarea form-control validate">
                        </div>

		</div>

   

		<div id="matfix" class="row">
			<div class="input-field col s12">
				<i class="material-icons prefix">date_range</i>
				<input id="upload-date" name="upload-date" type="text" required class="validate datepicker">
				<label for="icon_prefix">Date of Upload</label>
			</div>
		</div>
		<div class="row">
			<div class="switch">
				<label>
				      No
				      <input id="cooked_meal" name="cooked_meal" type="checkbox" required class="materialize-textarea form-control validate">
				      <span class="lever"></span>
					Yes, I have cooked this meal!
				</label>
			</div>
		</div>

		<div class="row">

			<button class="btn waves-effect waves-light" type="submit" name="action">Submit Recipe
				<i class="material-icons right">input</i></button>
		</div>
	</form>
</div>
{% endblock %}