{% extends "base.html" %}

{% block content %}
<div class="column is-4 is-offset-4">
    <h3 class="title">Sign Up</h3>
    <div class="box">
        <form onclick="validate()" action="{{ url_for('signup') }}" method="POST">
            <div class="field">
                <div class="control">
                    <input id="email" required class="materialize-textarea input is-large form-control validate" type="email" name="email" placeholder="Email" autofocus="">
                </div>
            </div>
            <div class="field">
                <div class="control">
                    <input  id="password" required class="materialize-textarea input is-large form-control validate" type="password" name="password" placeholder="Password">
                </div>
            </div>

            <button class="button is-block is-info is-large is-fullwidth" type="submit">Register</button>
        </form>
    </div>
</div>
{% endblock %}