{% extends 'base.html' %} {% block content %}
<h3>View recipes</h3>
{% for recipe in recipes %}

<ul>
	<li>
		<div class="card medium">
			<div class="card-image waves-effect waves-block waves-light">
				<img class="activator" src="{{recipe.image}}">
    </div>
				<div class="card-content">
					<span class="card-title activator grey-text text-darken-4">{{recipe.name}}<i class="material-icons right">more_vert</i></span>
					<p><a class="activator waves-effect waves-light btn btn-small red">Expand</a>
                    <a href="{{url_for('review_meals', meal_id=recipe._id)}}"
							class="waves-effect waves-light btn btn-small red">Rate</a>
						<a href="{{url_for('delete_recipe', meal_id=recipe._id)}}"
							class="waves-effect waves-light btn btn-small">Delete</a>

					</p>
				</div>
				<div class="card-reveal">
					<span class="card-title grey-text text-darken-4">{{recipe.name}}<i class="material-icons right">close</i></span>
					<p><strong>Culinary Region: </strong>{{recipe.culinary_region}}</p>
					<p><strong>Time to prepare: </strong>{{recipe.time_to_prepare}}</p>
					<p><strong>Ingredients: </strong>{{recipe.ingredients}}</p>
                    <p>	<strong>How to prepare and cook: </strong>{{recipe.cooking}}</p>
					<p><strong>Date of upload: </strong>{{recipe.upload_date}}</p>
					<p><strong>The user who uploded the recipe actually cooked it: </strong>{{recipe.cooked_meal}}</p>
				</div>
			</div>
	</li>
</ul>

{% endfor %}
{% endblock %}